trigger:
  - master

pr:
  - master

jobs:
  - job: "Test"
    pool:
      vmImage: "ubuntu-latest"
    container: tensorflow/tensorflow:custom-op-ubuntu14
    steps:
      - script: ./configure.sh <<< $'yes\nno\n'
        displayName: "Configure Bazel"

      - script: bazel test larq_compute_engine:cc_tests
        displayName: "Run CC unit tests"

      - script: bazel build :build_pip_pkg
        displayName: "Build Bazel Package Creator Binary"

      - script: bazel-bin/build_pip_pkg artifacts
        displayName: "Build PIP Package"

      - script: pip3 install artifacts/*.whl --user
        displayName: "Install PIP Package"

      - script: bazel test larq_compute_engine:py_tests
        displayName: "Run Python unit tests"

  - job: "Lint"
    pool:
      vmImage: "ubuntu-latest"
    steps:
      - task: UsePythonVersion@0
        inputs:
          versionSpec: "3.7"
          architecture: "x64"

      - script: pip install pyflakes==2.1.1 black==19.3b0
        displayName: "Install linting dependencies"

      - script: pyflakes larq_compute_engine
        displayName: "pyflakes"

      - script: black larq_compute_engine --check --target-version py36
        displayName: "Black code style"
