name: Lint

on:
  push:
    branches:
      - master
  pull_request: {}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.3.4
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install Lint Dependencies
        run: |
          pip install pyflakes==2.3.0 black==20.8b1 --no-cache-dir
          sudo wget -O /usr/local/bin/buildifier https://github.com/bazelbuild/buildtools/releases/download/4.0.1/buildifier-linux-amd64
          sudo chmod +x /usr/local/bin/buildifier
      - name: Run PyFlakes
        run: pyflakes larq_compute_engine
      - name: Black code style
        run: black larq_compute_engine --check --target-version py36 --exclude 'build/|buck-out/|dzzist/|_build/|\.git/|\.hg/|\.mypy_cache/|\.tox/|\.venv/|larq/snapshots/'
      - name: clang-format lint
        uses: DoozyX/clang-format-lint-action@v0.12
        with:
          clangFormatVersion: 12
      - name: Lint bazel files
        run: buildifier -mode=check -r ./
